*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Gilroy Medium";
  src: url(../src/Font/Gilroy-Medium.woff2) format("woff2"), url(../src/Font/Gilroy-Medium.woff) format("woff");
}
@font-face {
  font-family: "Gilroy Bold";
  src: url(../src/Font/Gilroy-Bold.woff2) format("woff2"), url(../src/Font/Gilroy-Bold.woff) format("woff");
}
.wrapper {
  background-color: white;
}

.container {
  max-width: 1000px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}

.menu::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  background: #828282;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 31px;
  padding-bottom: 31px;
}
.nav .nav__item {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
}
.nav .nav__link {
  text-decoration: none;
  color: #828282;
}
.nav .nav__link:hover {
  color: #070707;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 40px;
}

.info__name {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  text-transform: capitalize;
}

.info__years {
  font-family: "Gilroy-Medium", sans-serif;
  font-style: 18px;
  margin-bottom: 8px;
}

.info__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-0.25turn);
          transform: rotate(-0.25turn);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  margin-bottom: 55px;
  margin-right: 20px;
  gap: 5px;
}
.info__lang .custom-radio {
  display: none;
}
.info__lang .custom-radio[type=radio]:checked + .info__link {
  color: #070707;
}

.info__link {
  text-decoration: none;
  font-family: "Gilroy-Bold", sans-serif;
  text-transform: uppercase;
  color: #828282;
}
.info__link .info__label {
  cursor: pointer;
}